@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Orbit&display=swap');

/* 기타 스타일 */
* {
  cursor: url(https://cur.cursors-4u.net/anime/ani-1/ani195.ani),
    url(https://cur.cursors-4u.net/anime/ani-1/ani195.png), auto !important;
  font-family: 'Orbit', sans-serif;
  font-weight: 400;
  font-style: normal;
}

#name {
  text-align: center;
  font-size: 3rem;
  color: #2c3e50;
}

/* 이미지 설정 */
img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin: 20px auto;
  border-radius: 7%;
}

/* 기본 정보 스타일 */
.basic_info {
  list-style: none;
  padding-left: 0;
  margin-top: 20px;
  font-size: 1.1rem;
  text-align: center;
  border: 1px solid #34495e; /* 테두리 추가 */
  border-radius: 10px; /* 테두리 둥글게 */
  padding: 10px; /* 내부 여백 추가 */
  width: 80%; /* 원하는 너비 지정 */
  max-width: 600px; /* 최대 너비 지정 (선택적) */
  margin: 0 auto; /* 수평 중앙 정렬 */
}

.basic_info li {
  margin-bottom: 10px;
}

/* 섹션 스타일 */
ul {
  margin-top: 20px;
}

ul li {
  margin: 10px 0;
}

ul ul {
  margin-top: 10px;
  margin-left: 20px;
  list-style-type: square;
}

/* 자기소개 스타일 */
p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

/* TMI 스타일 */
#tmi- ul {
  font-size: 1rem;
  color: #7f8c8d;
  text-align: center;
}

#tmi- ul li {
  margin-bottom: 8px;
}

/* 취미 섹션 스타일 */
ul li {
  font-size: 1.2rem;
  color: #34495e;
}

ul li ul li {
  font-size: 1rem;
  color: #7f8c8d;
}

/* ul li:hover {
  background-color: #ecf0f1;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
} */

/* 링크 스타일 */
a {
  text-decoration: none;
  color: #2980b9;
}

a:hover {
  color: #3498db;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
  body {
    padding: 10px;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  ul li {
    font-size: 1rem;
  }

  .basic_info {
    font-size: 1rem;
  }
}
body {
  background: linear-gradient(
    0deg,
    #ffbbc6,
    #ffc5d0,
    #ffafe6,
    #ffb4eb,
    #ffb9f0,
    #ffbef5,
    #ffc3fa,
    #f4b6d9
  );
  background-size: 400% 400%;
  animation: gradientMove 5s infinite alternate;
}

@keyframes gradientMove {
  0% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 50% 100%;
  }
}
