@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Orbit&display=swap');

* {
  cursor: url(https://cur.cursors-4u.net/anime/ani-1/ani195.ani),
    url(https://cur.cursors-4u.net/anime/ani-1/ani195.png), auto !important;
  font-family: 'Orbit', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.basic_info {
  font-size: 20px;
}

body {
  background: linear-gradient(
    0deg,
    #ffbbc6,
    #ffc5d0,
    #ffafe6,
    #ffb4eb,
    #ffb9f0,
    #ffbef5,
    #ffc3fa,
    #f4b6d9
  );
  background-size: 400% 400%;
  animation: gradientMove 5s infinite alternate;
}

@keyframes gradientMove {
  0% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 50% 100%;
  }
}
