body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  padding: 20px;
  background: #333;
  color: white;
}

h1,
h2,
h3 {
  color: #222;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: white;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

p {
  margin: 10px 0;
}

img {
  display: block;
  margin: 10px auto;
  border-radius: 10px;
}

#hobby,
#like,
#tmi,
#develop {
  background: white;
  margin: 20px auto;
  padding: 20px;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
  text-align: center;
  padding: 20px;
  background: #222;
  color: white;
  margin-top: 20px;
}
