body {
  font-family: 'Arial', sans-serif;
  background-color: #fff;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  align-items: center;
  text-align: center;
  padding: 20px;

  color: white;
}

header div {
  border: 0px;
  background: #4ca4ec;
}

#intro {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-top: 10px;
}

h1,
h2,
h3 {
  color: #222;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 5px 0;
}

p {
  margin: 5px 0;
}

img {
  display: block;
  margin: 10px auto;
  border-radius: 5px;
}

section,
div {
  margin: 20px auto;
  padding: 15px;
  width: 90%;
  max-width: 600px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

footer {
  text-align: center;
  padding: 15px;

  color: white;
  margin-top: 20px;
}
footer > div {
  background: #24bde4;
}
